/* Ten plik jest już importowany w App.css */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  scroll-behavior: smooth;
  min-height: 100vh;
}

img, svg {
  display: block;
  max-width: 100%;
}

button, input {
  font: inherit;
}

button {
  cursor: pointer;
}
